{% extends "_layout" %}

{% block content %}

    <!-- Inner Content Wrapper -->
    <div class="inner-content-wrap">

        <!-- Portfolio Single Post -->
        <article id="post-178" class="portfolio-single clearfix post-178 royal_portfolio type-royal_portfolio status-publish format-gallery has-post-thumbnail hentry royal_portfolio_cats-post-format-gallery royal_portfolio_skills-after-effects royal_portfolio_skills-cubase royal_portfolio_skills-illustrator">

            <div class="single-wrap body-section clearfix">

                <header class="single-header portfolio-single-header inner-content">
                    <div class="title-and-meta" style="width:100%;">
                        <h1 class="single-title">Editorial</h1>
                    </div>
                </header>

                <div class="single-content-wrap inner-content">

                    <div class="single-content clearfix">
                        <div class="vc_row wpb_row vc_row-fluid">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>Class aptent taciti sociosqu ad litora torquent per <strong>conubia</strong> <strong>nostra</strong>, per inceptos himenaeos. Nullam ultricies pharetra tellus eu iaculis. Suspendisse potenti. Nunc vel urna diam.<strong><a href="http://www.example.com"> Aliquam</a></strong> id purus vel enim imperdiet accu ellus eu iaculis spendisse potenti. Nunc vel urmsan a nec turpis entum metusellus eu iaculis. Suspendisse potenti. Nunc vel ur nisi, et ultrices mauris congue non. Aliquam pellentesque nunc convallis purus consequat, <a href="http://www.example.com">pellentesque tempor</a> augue ornare. Fusce sit amet vulputate sem, ut luctus nibh.</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Blog Single Gallery Slideshow -->
                <div class="gallery-slideshow">
                    <div class="gallery-slide">
                        <img src="../../images/jocko-large.jpg" alt="Wooden Robot" />
                        <p class="stacked-caption"><span>Jocko Flocko</span></p>
                    </div>

                    <div class="gallery-slide">
                        <img src="../../images/football.jpg" alt="Wooden Robot" />
                        <p class="stacked-caption"><span>Front Row</span></p>
                    </div>
                </div>

            </div>
        </article>
        <!-- Portfolio Single Post -->

    </div>
    <!-- end .inner-content-wrap -->

{% endblock %}
