<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Header hook. Don't delete this. -->
    <title>Hyper-X | The Portfolio Website Designer</title>

    <link rel='stylesheet' href='css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='css/Defaults.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animsition.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/prettyPhoto.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/socials.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/ultimate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/js_composer.css' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Courgette%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />

</head>

<body class="home page page-id-6 page-template page-template-portfolio page-template-portfolio-php logged-in royal-page-preloader smoothscroll sidebar-fixed menu-fold-style deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-right infinitescroll-twitter copy-horizontal-2 open-house wpb-js-composer js-comp-ver-4.9 vc_responsive">

    <!-- Preloader -->

    <div class="royal-preloader-wrap" data-bg-trans="200">

    </div>

    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="fade-in-up-sm,fade-out-up-sm" data-fx-speed="700">

        <!-- Mobile Navigation & Logo -->
        <div class="m-nav-and-logo">

            <div class="m-nav-fold rf-button">
                <i class="fa fa-angle-down"></i>
            </div>

            <!-- Mobile Navigation -->
            <nav>
                <ul id="menu-main" class="mobile-nav">
                    <li class="menu-item"><a href="index.html">Portfolio</a></li>
                    <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                            <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                            <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                            <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                            <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="services.html">Services</a></li>
                            <li class="menu-item"><a href="about-us.html">About Us</a></li>
                            <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                            <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                            
                        </ul>
                    </li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <!-- Mobile Logo & Tagline -->

            <section class="mobile-logo">

                <a href="index.html" title="Hypnos" class="logo-wrap">

                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>

        </div>
        <!-- .m-nav-and-logo -->

        <!-- Sidebar Folding Button-->
        <div class="sidebar-fold-btn">
            <i class="fa fa-angle-left rf-button"></i>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo & Tagline Wrapper -->

            <section class="logo-and-tagline clearfix">

                <a href="index.html" title="Hypnos" class="logo-wrap" data-portfolio="" data-blog="http://wp-royal.com/hyper-x/hypnos/blog/">
                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>
            <!-- .logo-and-tagline -->

            <!-- Wrap Sidebar Inner Content -->
            <div class="inner-sidebar clear">

                <!-- Main Navigation -->
                <nav class="sid-block" data-open="click">

                    <h3 class="menu-title"><span>Menu</span></h3>

                    <ul id="menu-main-1" class="main-nav">
                        <li class="menu-item "><a href="index.html">Portfolio</a></li>
                        <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                                <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                                <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                                <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                                <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                        <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="services.html">Services</a></li>
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                                
                            </ul>
                        </li>
                        <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>

                <!-- Blog Filters -->
                <section class="sid-block blog-filters">

                    <h3 class="filters-title"><span>Blog Filters</span></h3>

                    <ul class="filters">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Posts</span>
                                <i class="fa fa-none"></i>
                                <sup><sup>12</sup></sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 5</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-link"><i class="fa fa-none"></i>Link<i class="fa fa-none"></i><sup> 1</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-quote"><i class="fa fa-none"></i>Quote<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 2</sup></a></li>
                    </ul>

                </section>
                <!-- end .blog-filters -->

                <!-- Portfolio Filters -->
                <section class="sid-block portfolio-filters">

                    <h3 class="filters-title"><span>Filters</span></h3>

                    <ul class="filters" data-sort="">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Work</span>
                                <i class="fa fa-none"></i>
                                <sup>18</sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 6</sup></a></li>
                        <li><a class="rf-button" data-filter=".standard"><i class="fa fa-none"></i>Standard<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 6</sup></a></li>
                    </ul>

                </section>
                <!-- end .portfolio-filters -->

            </div>
            <!-- end .inner-sidebar -->

        </div>
        <!-- end #sidebar -->

        <!-- Top Sidebar -->

        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Page Content -->
                <section class="inner-content body-section clearfix">

                    <div class="single-content">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452758759688 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="ultimate-heading-3224573c37a867676" class="uvc-heading ultimate-heading-3224573c37a867676 uvc-5532 " data-hspacer="line_with_icon" data-hline_width="50" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#ccc" data-icon_width="32" data-hfixer="10" data-halign="center" style="text-align:center">
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-3224573c37a867676 h1' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h1 style="font-family:'Montserrat';font-weight:700;margin-bottom:15px;">Our Team</h1></div>
                                            <div class="uvc-heading-spacer line_with_icon" style="margin-bottom:20px;height:32px;">
                                                <div class="ult-just-icon-wrapper ">
                                                    <div class="align-icon" style="text-align:center;">
                                                        <div class="aio-icon none " style="font-size:32px;display:inline-block;">
                                                            <i class="Defaults-bolt flash"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-3224573c37a867676 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:normal;color:#8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452174065011">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-new-ib ult-ib-effect-style5 ult-ib-resp " data-min-width="768" data-max-width="900" style="" data-opacity="1" data-hover-opacity="0.8"><img class="ult-new-ib-img" style="opacity:1;" alt="ANNA" src="upload/team-111-1.jpg" />
                                            <div class="ult-new-ib-desc" style="background:#444444;">
                                                <h2 class="ult-new-ib-title" style="font-weight:bold;color:#ffffff;">ANNA</h2>
                                                <div class="ult-new-ib-content" style="font-weight:normal;">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <a class="ult-new-ib-link"></a>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a86855e" data-id="573c37a86855e" data-height="8" data-height-mobile="8" data-height-tab="8" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div id="ultimate-heading-6604573c37a868633" class="uvc-heading ultimate-heading-6604573c37a868633 uvc-8384 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6604573c37a868633 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:13px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:700;color:#e5ae47;">CEO</div>
                                        </div>
                                        <div id="ultimate-heading-9940573c37a86871d" class="uvc-heading ultimate-heading-9940573c37a86871d uvc-1686 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-9940573c37a86871d h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">Anna Kambel</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-9940573c37a86871d .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:normal;color:#8d8d8d;">
                                                </p>
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">Lorem ipsum dolor sit amet, cons ae ectetur adipiididunt ut labosicing elit, sed do eiusmod tempor viva in cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostdenel ex aliqipra.</div>
                                                </div>
                                                <p>
                                            </div>
                                        </div>
                                        <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Design <span class="vc_label_units">40%</span></small><span class="vc_bar animated" data-percentage-value="40" data-value="40" style="background-color: #e5ae47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Development <span class="vc_label_units">65%</span></small><span class="vc_bar animated" data-percentage-value="65" data-value="65" style="background-color: #e5ae47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Marketing <span class="vc_label_units">85%</span></small><span class="vc_bar animated" data-percentage-value="85" data-value="85" style="background-color: #e5ae47;"></span></div>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a868dae" data-id="573c37a868dae" data-height="10" data-height-mobile="10" data-height-tab="10" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div class=" uavc-icons ">
                                            <a class="aio-tooltip 573c37a868f52" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-facebook facebook-f"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a86901a" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-twitter"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a8690b9" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-instagram"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-new-ib ult-ib-effect-style5 ult-ib-resp " data-min-width="768" data-max-width="900" style="" data-opacity="1" data-hover-opacity="0.8"><img class="ult-new-ib-img" style="opacity:1;" alt="SOZAN" src="upload/team-211-1.jpg" />
                                            <div class="ult-new-ib-desc" style="background:#444444;">
                                                <h2 class="ult-new-ib-title" style="font-weight:bold;color:#ffffff;">SOZAN</h2>
                                                <div class="ult-new-ib-content" style="font-weight:normal;">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <a class="ult-new-ib-link"></a>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a869886" data-id="573c37a869886" data-height="8" data-height-mobile="8" data-height-tab="8" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div id="ultimate-heading-1214573c37a869963" class="uvc-heading ultimate-heading-1214573c37a869963 uvc-483 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-1214573c37a869963 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:13px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:700;color:#e5ae47;">CREATIVE DIRECTOR</div>
                                        </div>
                                        <div id="ultimate-heading-1487573c37a869a4e" class="uvc-heading ultimate-heading-1487573c37a869a4e uvc-5764 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-1487573c37a869a4e h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">SOZAN SUBAR</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-1487573c37a869a4e .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:normal;color:#8d8d8d;">
                                                </p>
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">Lorem ipsum dolor sit amet, cons ae ectetur adipiididunt ut labosicing elit, sed do eiusmod tempor viva in cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostdenel ex aliqipra.</div>
                                                </div>
                                                <p>
                                            </div>
                                        </div>
                                        <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Php <span class="vc_label_units">30%</span></small><span class="vc_bar animated" data-percentage-value="30" data-value="30" style="background-color: #E5AE47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Css <span class="vc_label_units">50%</span></small><span class="vc_bar animated" data-percentage-value="50" data-value="50" style="background-color: #E5AE47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Perl <span class="vc_label_units">90%</span></small><span class="vc_bar animated" data-percentage-value="90" data-value="90" style="background-color: #E5AE47;"></span></div>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a869d62" data-id="573c37a869d62" data-height="10" data-height-mobile="10" data-height-tab="10" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div class=" uavc-icons ">
                                            <a class="aio-tooltip 573c37a869ec3" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-facebook facebook-f"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a869f75" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-twitter"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a86a02e" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-youtube-play"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a86a0ef" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-github-square"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-new-ib ult-ib-effect-style5 ult-ib-resp " data-min-width="768" data-max-width="900" style="" data-opacity="1" data-hover-opacity="0.8"><img class="ult-new-ib-img" style="opacity:1;" alt="ILLMAN" src="upload/team-311-1.jpg" />
                                            <div class="ult-new-ib-desc" style="background:#444444;">
                                                <h2 class="ult-new-ib-title" style="font-weight:bold;color:#ffffff;">ILLMAN</h2>
                                                <div class="ult-new-ib-content" style="font-weight:normal;">
                                                    <p></p>
                                                </div>
                                            </div>
                                            <a class="ult-new-ib-link"></a>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a86a89a" data-id="573c37a86a89a" data-height="8" data-height-mobile="8" data-height-tab="8" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div id="ultimate-heading-1023573c37a86a981" class="uvc-heading ultimate-heading-1023573c37a86a981 uvc-4156 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-1023573c37a86a981 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:13px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:700;color:#e5ae47;">CO-FOUNDER</div>
                                        </div>
                                        <div id="ultimate-heading-6260573c37a86aa5c" class="uvc-heading ultimate-heading-6260573c37a86aa5c uvc-5310 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6260573c37a86aa5c h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">ILLIA CHIX</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6260573c37a86aa5c .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:normal;color:#8d8d8d;">
                                                </p>
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">Lorem ipsum dolor sit amet, cons ae ectetur adipiididunt ut labosicing elit, sed do eiusmod tempor viva in cididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostdenel ex aliqipra.</div>
                                                </div>
                                                <p>
                                            </div>
                                        </div>
                                        <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Design <span class="vc_label_units">40%</span></small><span class="vc_bar animated" data-percentage-value="40" data-value="40" style="background-color: #e5ae47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Development <span class="vc_label_units">80%</span></small><span class="vc_bar animated" data-percentage-value="80" data-value="80" style="background-color: #e5ae47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Marketing <span class="vc_label_units">99%</span></small><span class="vc_bar animated" data-percentage-value="99" data-value="99" style="background-color: #e5ae47;"></span></div>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a86ad7d" data-id="573c37a86ad7d" data-height="10" data-height-mobile="10" data-height-tab="10" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div class=" uavc-icons ">
                                            <a class="aio-tooltip 573c37a86aebf" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-facebook facebook-f"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a86af6f" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-twitter"></i>
                                                </div>
                                            </a>
                                            <a class="aio-tooltip 573c37a86aff4" href="index.html#" target='' data-toggle="tooltip" data-placement="" title="">
                                                <div class="aio-icon circle " data-animation="" data-animation-delay="03" style="color:#ffffff;background:#919191;font-size:16px;margin-right:5px;">
                                                    <i class="Defaults-youtube-play"></i>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            <!-- end .inner-content-wrap -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->
        

        <!-- Copyright & Socials -->
        <footer class="copy-and-soc">

            <!-- Inner Block -->
            <div>

                
                <div class="socials-wrap">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-google rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-pinterest rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-reddit rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-dribbble rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-skype rf-button"></i>
                    </a>
                </div>
                <!-- Copyright -->
                <div class="copyright-wrap">
                    <p>
                        Hyper-X Theme By MTH 2016 © 
                    </p>
                </div>

                <!-- Fixed Fold Button -->
                <div class="footer-fold-btn">
                    <i class="fa fa-caret-up"></i>
                </div>

                <!-- clear floats -->
                <div class="clear"></div>

            </div>
            <!-- End Inner Block -->

        </footer>

        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->



    <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='js/snazzymaps.js'></script>
    <script type='text/javascript' src='js/ultimate.min.js'></script>

    <script type='text/javascript' src='js/SmoothScroll.min.js'></script>
    <script type='text/javascript' src='js/royal-plugins.min.js'></script>
    <script type='text/javascript' src='js/custom-scripts.min.js'></script>
    <script type='text/javascript' src='js/js_composer_front.js'></script>
    <script type='text/javascript' src='js/waypoints/waypoints.min.js'></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.ult-carousel-862637204573c37a6c3846').slick({
                dots: false,
                autoplay: true,
                autoplaySpeed: 1000,
                speed: 1500,
                infinite: true,
                arrows: false,
                slidesToScroll: 5,
                slidesToShow: 5,
                swipe: true,
                draggable: true,
                touchMove: true,
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                }, {
                    breakpoint: 481,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }],
                pauseOnHover: true,
                pauseOnDotsHover: true,
                customPaging: function(slider, i) {
                    return '<i type="button" style="color:#333333;" class="ultsl-record" data-role="none"></i>';
                },
            });
        });
    </script>
</body>
</html>