<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Header hook. Don't delete this. -->
    <title>Hyper-X | The Portfolio Website Designer</title>

    <link rel='stylesheet' href='css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='css/Defaults.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animsition.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/prettyPhoto.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/socials.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/ultimate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/js_composer.css' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Courgette%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />

</head>

<body class="home page page-id-6 page-template page-template-portfolio page-template-portfolio-php logged-in royal-page-preloader smoothscroll sidebar-fixed menu-fold-style deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-right infinitescroll-twitter copy-horizontal-2 open-house wpb-js-composer js-comp-ver-4.9 vc_responsive">

    <!-- Preloader -->

    <div class="royal-preloader-wrap" data-bg-trans="200">

    </div>

    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="fade-in-up-sm,fade-out-up-sm" data-fx-speed="700">

        <!-- Mobile Navigation & Logo -->
        <div class="m-nav-and-logo">

            <div class="m-nav-fold rf-button">
                <i class="fa fa-angle-down"></i>
            </div>

            <!-- Mobile Navigation -->
            <nav>
                <ul id="menu-main" class="mobile-nav">
                    <li class="menu-item"><a href="index.html">Portfolio</a></li>
                    <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                            <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                            <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                            <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                            <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="services.html">Services</a></li>
                            <li class="menu-item"><a href="about-us.html">About Us</a></li>
                            <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                            <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                            
                        </ul>
                    </li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <!-- Mobile Logo & Tagline -->

            <section class="mobile-logo">

                <a href="index.html" title="Hypnos" class="logo-wrap">

                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>

        </div>
        <!-- .m-nav-and-logo -->

        <!-- Sidebar Folding Button-->
        <div class="sidebar-fold-btn">
            <i class="fa fa-angle-left rf-button"></i>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo & Tagline Wrapper -->

            <section class="logo-and-tagline clearfix">

                <a href="index.html" title="Hypnos" class="logo-wrap" data-portfolio="" data-blog="http://wp-royal.com/hyper-x/hypnos/blog/">
                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>
            <!-- .logo-and-tagline -->

            <!-- Wrap Sidebar Inner Content -->
            <div class="inner-sidebar clear">

                <!-- Main Navigation -->
                <nav class="sid-block" data-open="click">

                    <h3 class="menu-title"><span>Menu</span></h3>

                    <ul id="menu-main-1" class="main-nav">
                        <li class="menu-item "><a href="index.html">Portfolio</a></li>
                        <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                                <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                                <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                                <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                                <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                        <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="services.html">Services</a></li>
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                                
                            </ul>
                        </li>
                        <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>

                <!-- Blog Filters -->
                <section class="sid-block blog-filters">

                    <h3 class="filters-title"><span>Blog Filters</span></h3>

                    <ul class="filters">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Posts</span>
                                <i class="fa fa-none"></i>
                                <sup><sup>12</sup></sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 5</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-link"><i class="fa fa-none"></i>Link<i class="fa fa-none"></i><sup> 1</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-quote"><i class="fa fa-none"></i>Quote<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 2</sup></a></li>
                    </ul>

                </section>
                <!-- end .blog-filters -->

                <!-- Portfolio Filters -->
                <section class="sid-block portfolio-filters">

                    <h3 class="filters-title"><span>Filters</span></h3>

                    <ul class="filters" data-sort="">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Work</span>
                                <i class="fa fa-none"></i>
                                <sup>18</sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 6</sup></a></li>
                        <li><a class="rf-button" data-filter=".standard"><i class="fa fa-none"></i>Standard<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 6</sup></a></li>
                    </ul>

                </section>
                <!-- end .portfolio-filters -->

            </div>
            <!-- end .inner-sidebar -->

        </div>
        <!-- end #sidebar -->

        <!-- Top Sidebar -->

        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Page Content -->
                <section class="inner-content body-section clearfix">

                    <div class="single-content">
                        <div class="vc_row wpb_row vc_row-fluid vc_row-o-full-height vc_row-o-columns-middle vc_row-flex">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-animation  ult-animate-viewport  ult-no-mobile" data-animate="flip" data-animation-delay="0" data-animation-duration="1.5" data-animation-iteration="1" style="opacity:0;" data-opacity_start_effect="">
                                            <div class="wpb_single_image wpb_content_element vc_align_center">

                                                <figure class="wpb_wrapper vc_figure">
                                                    <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="77" height="55" src="upload/logo-light-1.png" class="vc_single_image-img attachment-full" alt="logo-light" /></div>
                                                </figure>
                                            </div>
                                        </div>
                                        <div class="ult-spacer spacer-573c37aa063d7" data-id="573c37aa063d7" data-height="16" data-height-mobile="16" data-height-tab="16" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div class="ult-animation  ult-animate-viewport  ult-no-mobile" data-animate="fadeInDown" data-animation-delay="1" data-animation-duration="1" data-animation-iteration="1" style="opacity:0;" data-opacity_start_effect="">
                                            <div id="ultimate-heading-9688573c37aa0659f" class="uvc-heading ultimate-heading-9688573c37aa0659f uvc-9269 " data-hspacer="no_spacer" data-halign="center" style="text-align:center">
                                                <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                                <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-9688573c37aa0659f .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:15px;","line-height":"desktop:26px;"}' style="font-family:'Lato';font-weight:normal;color:#8d8d8d;">We are currently working on back-end,
                                                    <br /> our team is working hard, if you need something urgent please <a href="contact.html">Contact us</a>.</div>
                                            </div>
                                        </div>
                                        <div class="ult-spacer spacer-573c37aa0664a" data-id="573c37aa0664a" data-height="24" data-height-mobile="24" data-height-tab="24" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div class="ult-animation  ult-animate-viewport  ult-no-mobile" data-animate="flipInX" data-animation-delay="1.5" data-animation-duration="1" data-animation-iteration="1" style="opacity:0;" data-opacity_start_effect="">
                                            <div class="ult_countdown  ult-cd-no-border ult-cd-s2">
                                                <div class="ult_countdown-div ult_countdown-dateAndTime ult-wptz" data-labels="Years,Months,Weeks,Days,Hours,Minutes,Seconds" data-labels2="Year,Month,Week,Day,Hour,Minute,Second" data-terminal-date="2019/01/01 21:27:35" data-countformat="OWDHMS" data-time-zone="0" data-time-now="2016/05/18 09:36:42" data-tick-size="52" data-tick-col="#444444" data-tick-p-size="14" data-tick-p-col="" data-tick-style="" data-tick-p-style="" data-bg-color="" data-br-radius="" data-padd="0">2019/01/01 21:27:35</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            <!-- end .inner-content-wrap -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->

        <!-- Copyright & Socials -->
        <footer class="copy-and-soc">

            <!-- Inner Block -->
            <div>

                
                <div class="socials-wrap">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-google rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-pinterest rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-reddit rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-dribbble rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-skype rf-button"></i>
                    </a>
                </div>
                <!-- Copyright -->
                <div class="copyright-wrap">
                    <p>
                        Hyper-X Theme By MTH 2016 © 
                    </p>
                </div>

                <!-- Fixed Fold Button -->
                <div class="footer-fold-btn">
                    <i class="fa fa-caret-up"></i>
                </div>

                <!-- clear floats -->
                <div class="clear"></div>

            </div>
            <!-- End Inner Block -->

        </footer>

        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->



    <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='js/snazzymaps.js'></script>
    <script type='text/javascript' src='js/ultimate.min.js'></script>

    <script type='text/javascript' src='js/SmoothScroll.min.js'></script>
    <script type='text/javascript' src='js/royal-plugins.min.js'></script>
    <script type='text/javascript' src='js/custom-scripts.min.js'></script>
    <script type='text/javascript' src='js/js_composer_front.js'></script>
    <script type='text/javascript' src='js/waypoints/waypoints.min.js'></script>

</body>
</html>