<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Header hook. Don't delete this. -->
    <title>Hyper-X | The Portfolio Website Designer</title>

    <link rel='stylesheet' href='css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='css/Defaults.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animsition.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/prettyPhoto.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/socials.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/ultimate.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/js_composer.css' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Courgette%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />

</head>

<body class="home page page-id-6 page-template page-template-portfolio page-template-portfolio-php logged-in royal-page-preloader smoothscroll sidebar-fixed menu-fold-style deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-right infinitescroll-twitter copy-horizontal-2 open-house wpb-js-composer js-comp-ver-4.9 vc_responsive">

    <!-- Preloader -->

    <div class="royal-preloader-wrap" data-bg-trans="200">

    </div>

    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="fade-in-up-sm,fade-out-up-sm" data-fx-speed="700">

        <!-- Mobile Navigation & Logo -->
        <div class="m-nav-and-logo">

            <div class="m-nav-fold rf-button">
                <i class="fa fa-angle-down"></i>
            </div>

            <!-- Mobile Navigation -->
            <nav>
                <ul id="menu-main" class="mobile-nav">
                    <li class="menu-item"><a href="index.html">Portfolio</a></li>
                    <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                            <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                            <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                            <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                            <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="services.html">Services</a></li>
                            <li class="menu-item"><a href="about-us.html">About Us</a></li>
                            <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                            <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                            
                        </ul>
                    </li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <!-- Mobile Logo & Tagline -->

            <section class="mobile-logo">

                <a href="index.html" title="Hypnos" class="logo-wrap">

                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>

        </div>
        <!-- .m-nav-and-logo -->

        <!-- Sidebar Folding Button-->
        <div class="sidebar-fold-btn">
            <i class="fa fa-angle-left rf-button"></i>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo & Tagline Wrapper -->

            <section class="logo-and-tagline clearfix">

                <a href="index.html" title="Hypnos" class="logo-wrap" data-portfolio="" data-blog="http://wp-royal.com/hyper-x/hypnos/blog/">
                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>
            <!-- .logo-and-tagline -->

            <!-- Wrap Sidebar Inner Content -->
            <div class="inner-sidebar clear">

                <!-- Main Navigation -->
                <nav class="sid-block" data-open="click">

                    <h3 class="menu-title"><span>Menu</span></h3>

                    <ul id="menu-main-1" class="main-nav">
                        <li class="menu-item "><a href="index.html">Portfolio</a></li>
                        <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                                <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                                <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                                <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                                <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                        <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="services.html">Services</a></li>
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                                
                            </ul>
                        </li>
                        <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>

                <!-- Blog Filters -->
                <section class="sid-block blog-filters">

                    <h3 class="filters-title"><span>Blog Filters</span></h3>

                    <ul class="filters">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Posts</span>
                                <i class="fa fa-none"></i>
                                <sup><sup>12</sup></sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 5</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-link"><i class="fa fa-none"></i>Link<i class="fa fa-none"></i><sup> 1</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-quote"><i class="fa fa-none"></i>Quote<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 2</sup></a></li>
                    </ul>

                </section>
                <!-- end .blog-filters -->

                <!-- Portfolio Filters -->
                <section class="sid-block portfolio-filters">

                    <h3 class="filters-title"><span>Filters</span></h3>

                    <ul class="filters" data-sort="">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Work</span>
                                <i class="fa fa-none"></i>
                                <sup>18</sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 6</sup></a></li>
                        <li><a class="rf-button" data-filter=".standard"><i class="fa fa-none"></i>Standard<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 6</sup></a></li>
                    </ul>

                </section>
                <!-- end .portfolio-filters -->

            </div>
            <!-- end .inner-sidebar -->

        </div>
        <!-- end #sidebar -->

        <!-- Top Sidebar -->

        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Page Content -->
                <section class="inner-content body-section clearfix">

                    <div class="single-content">
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452759259429 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="ultimate-heading-85573c37a6bb485" class="uvc-heading ultimate-heading-85573c37a6bb485 uvc-1251 " data-hspacer="line_with_icon" data-hline_width="50" data-hicon_type="selector" data-hborder_style="solid" data-hborder_height="1" data-hborder_color="#ccc" data-icon_width="32" data-hfixer="10" data-halign="center" style="text-align:center">
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-85573c37a6bb485 h1' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h1 style="font-family:'Montserrat';font-weight:700;color:#444444;margin-bottom:15px;">Services</h1></div>
                                            <div class="uvc-heading-spacer line_with_icon" style="margin-bottom:20px;height:32px;">
                                                <div class="ult-just-icon-wrapper ">
                                                    <div class="align-icon" style="text-align:center;">
                                                        <div class="aio-icon none " style="font-size:32px;display:inline-block;">
                                                            <i class="Defaults-bolt flash"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-85573c37a6bb485 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:400;color:#8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452174402697 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-spacer spacer-573c37a6bbdcd" data-id="573c37a6bbdcd" data-height="20" data-height-mobile="20" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div id="ultimate-heading-4457573c37a6bbead" class="uvc-heading ultimate-heading-4457573c37a6bbead uvc-4848 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-4457573c37a6bbead h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">A BIT ABOUT US</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-4457573c37a6bbead .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:400;color:#8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididuntab ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullares mcobe laboris nisi ut aliquip. , sollicitudin eu semper luctus quisque ligula. sollicitudin suscipit sapien ligula mi malesuada condimentum placerat vel orci faucibus, placerat augue vel, karmi volutpat nunc sollicitudin euad euismod purus do. Enim ad veniam, nostrud exeration.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-6">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-spacer spacer-573c37a6bc1ec" data-id="573c37a6bc1ec" data-height="20" data-height-mobile="20" data-height-tab="20" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div id="ultimate-heading-7061573c37a6bc2be" class="uvc-heading ultimate-heading-7061573c37a6bc2be uvc-3702 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-7061573c37a6bc2be h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">SKILLS</h3></div>
                                        </div>
                                        <div class="vc_progress_bar wpb_content_element  vc_progress-bar-color-bar_grey">
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Development <span class="vc_label_units">90%</span></small><span class="vc_bar animated" data-percentage-value="90" data-value="90" style="background-color: #E5AE47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Design <span class="vc_label_units">80%</span></small><span class="vc_bar animated" data-percentage-value="80" data-value="80" style="background-color: #E5AE47;"></span></div>
                                            <div class="vc_general vc_single_bar"><small class="vc_label">Marketing <span class="vc_label_units">70%</span></small><span class="vc_bar animated" data-percentage-value="70" data-value="70" style="background-color: #E5AE47;"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452092477199 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="ultimate-heading-455573c37a6bdb17" class="uvc-heading ultimate-heading-455573c37a6bdb17 uvc-474 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-455573c37a6bdb17 h2' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h2 style="font-family:'Montserrat';font-weight:700;color:#444444;margin-bottom:9px;">THAT'S HOW WE DO IT</h2></div>
                                        </div>
                                        <div class="ult-spacer spacer-573c37a6bdb9f" data-id="573c37a6bdb9f" data-height="36" data-height-mobile="36" data-height-tab="36" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-8">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="smile_icon_list_wrap ">
                                            <ul class="smile_icon_list left circle with_bg">
                                                <li class="icon_list_item" style=" font-size:51px;">
                                                    <div class="icon_list_icon" data-animation="" data-animation-delay="03" style="font-size:17px;border-width:1px;border-style:none;background:#e5ae47;color:#ffffff;border-color:#333333;"><i class="Defaults-search"></i></div>
                                                    <div class="icon_description">
                                                        <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:16px;line-height:32px;">Planning</h3>
                                                        <div class="icon_description_text" style="font-family:'Dosis';font-weight:400;font-size:16px;line-height:25px;color:#8d8d8d;">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accu msan et iusto odio dignissim qui blandit praesent luptatum Pelle ntesque accuvel eum iriure dolor in hendrerit in vulputate velit esse molestie amis kresan marines akos diza mento uilim quera be.</p>
                                                        </div>
                                                    </div>
                                                    <div class="icon_list_connector" data-animation="fadeInUp" data-animation-delay="03" style="border-color:#8d8d8d;"></div>
                                                </li>
                                                <li class="icon_list_item" style=" font-size:51px;">
                                                    <div class="icon_list_icon" data-animation="" data-animation-delay="03" style="font-size:17px;border-width:1px;border-style:none;background:#e5ae47;color:#ffffff;border-color:#333333;"><i class="Defaults-clock-o"></i></div>
                                                    <div class="icon_description">
                                                        <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:16px;line-height:32px;">Programming</h3>
                                                        <div class="icon_description_text" style="font-family:'Dosis';font-weight:400;font-size:16px;line-height:25px;color:#8d8d8d;">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accu msan et iusto odio dignissim qui blandit praesent luptatum Pelle ntesque accuvel eum iriure dolor in hendrerit in vulputate velit esse molestie amis kresan marines akos diza mento uilim quera be.</p>
                                                        </div>
                                                    </div>
                                                    <div class="icon_list_connector" data-animation="fadeInUp" data-animation-delay="03" style="border-color:#8d8d8d;"></div>
                                                </li>
                                                <li class="icon_list_item" style=" font-size:51px;">
                                                    <div class="icon_list_icon" data-animation="" data-animation-delay="03" style="font-size:17px;border-width:1px;border-style:none;background:#e5ae47;color:#ffffff;border-color:#333333;"><i class="Defaults-rocket"></i></div>
                                                    <div class="icon_description">
                                                        <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:16px;line-height:32px;">Product Lounching</h3>
                                                        <div class="icon_description_text" style="font-family:'Dosis';font-weight:400;font-size:16px;line-height:25px;color:#8d8d8d;">
                                                            <p>Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accu msan et iusto odio dignissim qui blandit praesent luptatum Pelle ntesque accuvel eum iriure dolor in hendrerit in vulputate velit esse molestie amis kresan marines akos diza mento uilim quera be.</p>
                                                        </div>
                                                    </div>
                                                    <div class="icon_list_connector" data-animation="fadeInUp" data-animation-delay="03" style="border-color:#8d8d8d;"></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="wpb_single_image wpb_content_element vc_align_center">

                                            <figure class="wpb_wrapper vc_figure">
                                                <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="253" height="487" src="upload/mobile-my-hyper-x-1.png" class="vc_single_image-img attachment-full" alt="mobile-my-hyper-x"  /></div>
                                            </figure>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452174460463 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="ultimate-heading-4953573c37a6c0715" class="uvc-heading ultimate-heading-4953573c37a6c0715 uvc-6855 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-4953573c37a6c0715 h2' data-responsive-json-new='{"font-size":"desktop:12px;","line-height":"desktop:25px;"}'>
                                                <h2 style="font-family:'Montserrat';font-weight:700;color:#e5ae47;">AUDIO</h2></div>
                                        </div>
                                        <div id="ultimate-heading-5609573c37a6c0816" class="uvc-heading ultimate-heading-5609573c37a6c0816 uvc-9341 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-5609573c37a6c0816 h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">Production</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-5609573c37a6c0816 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:26px;"}' style="font-family:'Dosis';font-weight:400;color:#8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ape seda do eiusmod tempor incididunt ut labeore et dolore orc magna ali quar, Ut enim ad minim veniam, quis nostrudene exercitationl ullamco ut aliquip vako trako lorebian maria.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="ultimate-heading-6787573c37a6c0b88" class="uvc-heading ultimate-heading-6787573c37a6c0b88 uvc-3619 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6787573c37a6c0b88 h2' data-responsive-json-new='{"font-size":"desktop:12px;","line-height":"desktop:25px;"}'>
                                                <h2 style="font-family:'Montserrat';font-weight:700;color:#e5ae47;">VIDEO</h2></div>
                                        </div>
                                        <div id="ultimate-heading-2549573c37a6c0c73" class="uvc-heading ultimate-heading-2549573c37a6c0c73 uvc-368 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-2549573c37a6c0c73 h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">Editing</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-2549573c37a6c0c73 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:26px;"}' style="font-family:'Dosis';font-weight:400;color:#8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ape seda do eiusmod tempor incididunt ut labeore et dolore orc magna ali quar, Ut enim ad minim veniam, quis nostrudene exercitationl ullamco ut aliquip vako lorebi trakora se.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div id="ultimate-heading-7925573c37a6c1025" class="uvc-heading ultimate-heading-7925573c37a6c1025 uvc-9875 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-7925573c37a6c1025 h2' data-responsive-json-new='{"font-size":"desktop:12px;","line-height":"desktop:25px;"}'>
                                                <h2 style="font-family:'Montserrat';font-weight:700;color:#e5ae47;">ANIMATION</h2></div>
                                        </div>
                                        <div id="ultimate-heading-6820573c37a6c1105" class="uvc-heading ultimate-heading-6820573c37a6c1105 uvc-9261 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                            <div class="uvc-heading-spacer no_spacer" style="top"></div>
                                            <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6820573c37a6c1105 h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                                <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">Photography</h3></div>
                                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6820573c37a6c1105 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:400;color:#8d8d8d;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, ape seda do eiusmod tempor incididunt ut labeore et dolore orc magna ali quar, Ut enim ad minim veniam, quis nostrudene exercitationl ullamco ut aliquip vako trako lorebi ranas.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1452092377335 vc_row-has-fill">
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult_pricing_table_wrap ult_design_2  ult-cs-custom ">
                                            <div class="ult_pricing_table  " style="background:#fbfbfb;color:#8d8d8d;">
                                                <div class="ult_pricing_heading" style="background:#e5ae47;color:#ffffff;">
                                                    <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:27px;">PLAN ONE</h3>
                                                    <h5 style="font-family:'Dosis';font-weight:normal;font-size:13px;line-height:16px;">All you need is to start now</h5></div>
                                                <!--ult_pricing_heading-->
                                                <div class="ult_price_body_block">
                                                    <div class="ult_price_body">
                                                        <div class="ult_price">
                                                            <span class="ult_price_figure" style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">$10</span>
                                                            <span class="ult_price_term" style="font-family:'Dosis';font-weight:normal;font-size:13px;">Per Day</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--ult_price_body_block-->
                                                <div class="ult_price_link">
                                                    <a href="#" target=" _blank" class="ult_price_action_button" style="background:#e5ae47;color:#ffffff; font-family:'Montserrat';font-weight:normal;font-style:normal;">Try Now</a>
                                                </div>
                                                <!--ult_price_link-->
                                                <div class="ult_price_features" style="font-family:'Dosis';font-weight:normal;font-size:16px;color:#8d8d8d;line-height:32px;">
                                                    <ul>
                                                        <li>32 GB storage</li>
                                                        <li>Free Maintenance</li>
                                                        <li>Fully SEO Featured</li>
                                                        <li>Unlimited Data Transfer</li>
                                                        <li>Easy Payment</li>
                                                        <li>24/7 Support</li>
                                                        <li>Firewall Protection</li>
                                                        <li>Dedicated Environment</li>
                                                        <li>Telephonic Support</li>
                                                    </ul>

                                                </div>
                                                <!--ult_price_features-->
                                                <div class="ult_clr"></div>
                                            </div>
                                            <!--pricing_table-->
                                        </div>
                                        <!--pricing_table_wrap-->
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult_pricing_table_wrap ult_design_2  ult-cs-custom ">
                                            <div class="ult_pricing_table  " style="background:#fbfbfb;color:#8d8d8d;">
                                                <div class="ult_pricing_heading" style="background:#e5ae47;color:#ffffff;">
                                                    <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:27px;">PLAN TWO</h3>
                                                    <h5 style="font-family:'Dosis';font-weight:normal;font-size:13px;line-height:16px;">All you need is to start now</h5></div>
                                                <!--ult_pricing_heading-->
                                                <div class="ult_price_body_block">
                                                    <div class="ult_price_body">
                                                        <div class="ult_price">
                                                            <span class="ult_price_figure" style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">$20</span>
                                                            <span class="ult_price_term" style="font-family:'Dosis';font-weight:normal;font-size:13px;">Per Day</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--ult_price_body_block-->
                                                <div class="ult_price_link">
                                                    <a href="#" target=" _blank" class="ult_price_action_button" style="background:#e5ae47;color:#ffffff; font-family:'Montserrat';font-weight:normal;font-style:normal;">Try Now</a>
                                                </div>
                                                <!--ult_price_link-->
                                                <div class="ult_price_features" style="font-family:'Dosis';font-weight:normal;font-size:16px;color:#8d8d8d;line-height:32px;">
                                                    <ul>
                                                        <li>32 GB storage</li>
                                                        <li>Free Maintenance</li>
                                                        <li>Fully SEO Featured</li>
                                                        <li>Unlimited Data Transfer</li>
                                                        <li>Easy Payment</li>
                                                        <li>24/7 Support</li>
                                                        <li>Firewall Protection</li>
                                                        <li>Dedicated Environment</li>
                                                        <li>Telephonic Support</li>
                                                    </ul>

                                                </div>
                                                <!--ult_price_features-->
                                                <div class="ult_clr"></div>
                                            </div>
                                            <!--pricing_table-->
                                        </div>
                                        <!--pricing_table_wrap-->
                                    </div>
                                </div>
                            </div>
                            <div class="wpb_column vc_column_container vc_col-sm-4">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult_pricing_table_wrap ult_design_2  ult-cs-custom ">
                                            <div class="ult_pricing_table  " style="background:#fbfbfb;color:#8d8d8d;">
                                                <div class="ult_pricing_heading" style="background:#e5ae47;color:#ffffff;">
                                                    <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;font-size:27px;">PLAN THREE</h3>
                                                    <h5 style="font-family:'Dosis';font-weight:normal;font-size:13px;line-height:16px;">All you need is to start now</h5></div>
                                                <!--ult_pricing_heading-->
                                                <div class="ult_price_body_block">
                                                    <div class="ult_price_body">
                                                        <div class="ult_price">
                                                            <span class="ult_price_figure" style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;">$30</span>
                                                            <span class="ult_price_term" style="font-family:'Dosis';font-weight:normal;font-size:13px;">Per Day</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--ult_price_body_block-->
                                                <div class="ult_price_link">
                                                    <a href="#" target=" _blank" class="ult_price_action_button" style="background:#e5ae47;color:#ffffff; font-family:'Montserrat';font-weight:normal;font-style:normal;">Try Now</a>
                                                </div>
                                                <!--ult_price_link-->
                                                <div class="ult_price_features" style="font-family:'Dosis';font-weight:normal;font-size:16px;color:#8d8d8d;line-height:32px;">
                                                    <ul>
                                                        <li>32 GB storage</li>
                                                        <li>Free Maintenance</li>
                                                        <li>Fully SEO Featured</li>
                                                        <li>Unlimited Data Transfer</li>
                                                        <li>Easy Payment</li>
                                                        <li>24/7 Support</li>
                                                        <li>Firewall Protection</li>
                                                        <li>Dedicated Environment</li>
                                                        <li>Telephonic Support</li>
                                                    </ul>

                                                </div>
                                                <!--ult_price_features-->
                                                <div class="ult_clr"></div>
                                            </div>
                                            <!--pricing_table-->
                                        </div>
                                        <!--pricing_table_wrap-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Row Backgrounds -->
                        <div class="vc_row wpb_row vc_row-fluid vc_custom_1446836954504">
                            <div class="wpb_column vc_column_container vc_col-sm-12">
                                <div class="vc_column-inner ">
                                    <div class="wpb_wrapper">
                                        <div class="ult-spacer spacer-573c37a6c37a5" data-id="573c37a6c37a5" data-height="50" data-height-mobile="50" data-height-tab="50" data-height-tab-portrait="" data-height-mobile-landscape="" style="clear:both;display:block;"></div>
                                        <div id="ult-carousel-634372566573c37a6c38b5" class="ult-carousel-wrapper  ult_horizontal" data-gutter="10" data-rtl="false">
                                            <div class="ult-carousel-862637204573c37a6c3846 ">
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/11-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo"  /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/21-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo"  /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/31-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/41-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/51-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo"  /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/71-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo"  /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/71-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/81-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/91-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                                <div class="ult-item-wrap" data-animation="animated no-animation">
                                                    <div class="wpb_single_image wpb_content_element vc_align_center">

                                                        <figure class="wpb_wrapper vc_figure">
                                                            <div class="vc_single_image-wrapper   vc_box_border_grey"><img width="150" height="150" src="upload/101-1-150x150.png" class="vc_single_image-img attachment-thumbnail" alt="Logo" /></div>
                                                        </figure>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>
            <!-- end .inner-content-wrap -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->
        

        <!-- Copyright & Socials -->
        <footer class="copy-and-soc">

            <!-- Inner Block -->
            <div>

                
                <div class="socials-wrap">
                    <a href="#" target="_blank">
                        <i class="fa fa-facebook rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-twitter rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-google rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-linkedin rf-button"></i>
                    </a>
                    <a href="#" target="_blank">
                        <i class="fa fa-pinterest rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-reddit rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-dribbble rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-skype rf-button"></i>
                    </a>
                </div>
                <!-- Copyright -->
                <div class="copyright-wrap">
                    <p>
                        Hyper-X Theme By MTH 2016 © 
                    </p>
                </div>

                <!-- Fixed Fold Button -->
                <div class="footer-fold-btn">
                    <i class="fa fa-caret-up"></i>
                </div>

                <!-- clear floats -->
                <div class="clear"></div>

            </div>
            <!-- End Inner Block -->

        </footer>

        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->



    <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>

    <script type='text/javascript' src='js/snazzymaps.js'></script>
    <script type='text/javascript' src='js/ultimate.min.js'></script>

    <script type='text/javascript' src='js/SmoothScroll.min.js'></script>
    <script type='text/javascript' src='js/royal-plugins.min.js'></script>
    <script type='text/javascript' src='js/custom-scripts.min.js'></script>
    <script type='text/javascript' src='js/js_composer_front.js'></script>
    <script type='text/javascript' src='js/waypoints/waypoints.min.js'></script>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('.ult-carousel-862637204573c37a6c3846').slick({
                dots: false,
                autoplay: true,
                autoplaySpeed: 1000,
                speed: 1500,
                infinite: true,
                arrows: false,
                slidesToScroll: 5,
                slidesToShow: 5,
                swipe: true,
                draggable: true,
                touchMove: true,
                responsive: [{
                    breakpoint: 1025,
                    settings: {
                        slidesToShow: 5,
                        slidesToScroll: 5,
                    }
                }, {
                    breakpoint: 769,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                }, {
                    breakpoint: 481,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                }],
                pauseOnHover: true,
                pauseOnDotsHover: true,
                customPaging: function(slider, i) {
                    return '<i type="button" style="color:#333333;" class="ultsl-record" data-role="none"></i>';
                },
            });
        });
    </script>
</body>
</html>