<!doctype html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Header hook. Don't delete this. -->
    <title>Hyper-X | The Portfolio Website Designer</title>

    <link rel='stylesheet' href='css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom.css' type='text/css' media='screen' />
    <link rel='stylesheet' href='css/Defaults.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animsition.min.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/prettyPhoto.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css?ver=4.3.1' type='text/css' media='all' />
    <link rel='stylesheet' href='css/socials.css' type='text/css' media='all' />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Lato%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Courgette%3A100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900&#038;ver=1.0.0' type='text/css' media='all' />

</head>


<body class="single single-royal_portfolio postid-254 single-format-gallery logged-in royal-page-preloader smoothscroll sidebar-fixed menu-fold-style deeplinking single-header-below-b single-header-below-p sharing-nxt-prev-b sharing-nxt-prev-p project-info-right infinitescroll-twitter copy-horizontal-2 open-house wpb-js-composer js-comp-ver-4.9 vc_responsive">

    <!-- Preloader -->

    <div class="royal-preloader-wrap" data-bg-trans="200">

    </div>

    <!-- Whole Page Wrapper -->
    <div id="page-wrap" class="clearfix" data-fx="fade-in-up-sm,fade-out-up-sm" data-fx-speed="700">

        <!-- Mobile Navigation & Logo -->
        <div class="m-nav-and-logo">

            <div class="m-nav-fold rf-button">
                <i class="fa fa-angle-down"></i>
            </div>

            <!-- Mobile Navigation -->
            <nav>
                <ul id="menu-main" class="mobile-nav">
                    <li class="menu-item current-menu-item page_item page-item-6 current_page_item"><a href="index.html">Portfolio</a></li>
                    <li class="menu-item menu-item-has-children"><a href="#">Projects</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                            <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                            <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                            <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                            <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                            <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                        </ul>
                    </li>
                    <li class="menu-item"><a href="blog.html">Blog</a></li>
                    <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="services.html">Services</a></li>
                            <li class="menu-item"><a href="about-us.html">About Us</a></li>
                            <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                            <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                            
                        </ul>
                    </li>
                    <li class="menu-item"><a href="contact.html">Contact</a></li>
                </ul>
            </nav>

            <!-- Mobile Logo & Tagline -->

            <section class="mobile-logo">

                <a href="index.html" title="Hypnos" class="logo-wrap">

                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>

        </div>
        <!-- .m-nav-and-logo -->

        <!-- Sidebar Folding Button-->
        <div class="sidebar-fold-btn">
            <i class="fa fa-angle-left rf-button"></i>
        </div>

        <!-- Sidebar -->
        <div id="sidebar">

            <!-- Logo & Tagline Wrapper -->

            <section class="logo-and-tagline clearfix">

                <a href="index.html" title="Hypnos" class="logo-wrap" data-portfolio="" data-blog="http://wp-royal.com/hyper-x/hypnos/blog/">
                    <div class="logo-img">
                        <img src="upload/logo-light-1.png" alt="Hypnos">
                        <img src="upload/logo-light2.png" alt="Hypnos">
                    </div>

                </a>

                <p class="site-tagline">Just another WordPress site</p>

            </section>
            <!-- .logo-and-tagline -->

            <!-- Wrap Sidebar Inner Content -->
            <div class="inner-sidebar clear">

                <!-- Main Navigation -->
                <nav class="sid-block" data-open="click">

                    <h3 class="menu-title"><span>Menu</span></h3>

                    <ul id="menu-main-1" class="main-nav">
                        <li class="menu-item "><a href="index.html">Portfolio</a></li>
                        <li class="menu-item current-menu-item menu-item-has-children"><a href="#">Projects</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="slideshow.html">Gallery Slideshow</a></li>
                                <li class="menu-item"><a href="creatix.html">Gallery Stacked</a></li>
                                <li class="menu-item"><a href="stacked.html">Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="gallery-slideshow-3.html">Non Fixed Sidebar</a></li>
                                <li class="menu-item"><a href="bafterimg.html">Before After Image</a></li>
                                <li class="menu-item"><a href="audio.html">Audio Embed</a></li>
                                <li class="menu-item"><a href="video.html">Vimeo Embed</a></li>
                            </ul>
                        </li>
                        <li class="menu-item"><a href="blog.html">Blog</a></li>
                        <li class="menu-item menu-item-has-children"><a href="#">Pages</a>
                            <ul class="sub-menu">
                                <li class="menu-item"><a href="services.html">Services</a></li>
                                <li class="menu-item"><a href="about-us.html">About Us</a></li>
                                <li class="menu-item"><a href="coming-soon.html">Coming Soon</a></li>
                                <li class="menu-item"><a href="../ares/elements.html">Elements*</a></li>
                                
                            </ul>
                        </li>
                        <li class="menu-item"><a href="contact.html">Contact</a></li>
                    </ul>
                </nav>

                <!-- Blog Filters -->
                <section class="sid-block blog-filters">

                    <h3 class="filters-title"><span>Blog Filters</span></h3>

                    <ul class="filters">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Posts</span>
                                <i class="fa fa-none"></i>
                                <sup><sup>12</sup></sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 5</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-link"><i class="fa fa-none"></i>Link<i class="fa fa-none"></i><sup> 1</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-quote"><i class="fa fa-none"></i>Quote<i class="fa fa-none"></i><sup> 2</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 2</sup></a></li>
                    </ul>

                </section>
                <!-- end .blog-filters -->

                <!-- Portfolio Filters -->
                <section class="sid-block portfolio-filters">

                    <h3 class="filters-title"><span>Filters</span></h3>

                    <ul class="filters" data-sort="">

                        <li>
                            <a class="rf-button active-filter-item active-state" data-filter="*">
                                <i class="fa fa-none"></i>
                                <span>All Work</span>
                                <i class="fa fa-none"></i>
                                <sup>18</sup>
                            </a>
                        </li>

                        <li><a class="rf-button" data-filter=".post-format-audio"><i class="fa fa-none"></i>Audio<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-gallery"><i class="fa fa-none"></i>Gallery<i class="fa fa-none"></i><sup> 6</sup></a></li>
                        <li><a class="rf-button" data-filter=".standard"><i class="fa fa-none"></i>Standard<i class="fa fa-none"></i><sup> 3</sup></a></li>
                        <li><a class="rf-button" data-filter=".post-format-video"><i class="fa fa-none"></i>Video<i class="fa fa-none"></i><sup> 6</sup></a></li>
                    </ul>

                </section>
                <!-- end .portfolio-filters -->

            </div>
            <!-- end .inner-sidebar -->

        </div>
        <!-- end #sidebar -->

        <!-- Top Sidebar -->

        <!-- Main Content Wrapper -->
        <div id="main-wrap">

            <!-- Inner Content Wrapper -->
            <div class="inner-content-wrap">

                <!-- Portfolio Single Post -->
                <article id="post-254" class="portfolio-single clearfix post-254 royal_portfolio type-royal_portfolio status-publish format-gallery has-post-thumbnail hentry royal_portfolio_cats-post-format-gallery royal_portfolio_skills-css royal_portfolio_skills-html royal_portfolio_skills-jquery">

                    <div class="single-wrap body-section clearfix">

                        <!-- Blog Single Gallery Slideshow -->
                        <div class="gallery-slideshow">

                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_060-1.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Wooden Cup"><i class="fa fa-expand"></i></a><img src="upload/content_big_image_060-1.jpg" alt="Wooden Cup" /></div>
                                <p class="stacked-caption"><span>Wooden Cup</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_059-1.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Wooden Dishes"><i class="fa fa-expand"></i></a><img src="upload/content_big_image_059-1.jpg" alt="Wooden Dishes" /></div>
                                <p class="stacked-caption"><span>Wooden Dishes</span></p>
                            </div>
                            <div class="gallery-slide">
                                <div class="image-overlay-wrap lightbox-overlay"><a href="upload/content_big_image_056-1.jpg" class="image-overlay" rel="prettyPhoto[gallery-slide]" data-title="Wooden Cups"><i class="fa fa-expand"></i></a><img src="upload/content_big_image_056-1.jpg" alt="Wooden Cups" /></div>
                                <p class="stacked-caption"><span>Wooden Cups</span></p>
                            </div>

                        </div>
                        <!-- Portfolio Single Title & Meta -->
                        <header class="single-header portfolio-single-header inner-content">

                            <div class="title-and-meta">

                                <h1 class="single-title">Gallery Stacked</h1>

                                <span class="post-meta-info single-meta">

                                <span class="post-date">
                                    October 24, 2014                            
                                    <span class="meta-sep">/</span>
                                </span>


                                </span>
                                <!-- end .post-meta-info -->

                            </div>
                            <!-- end .title-and-meta -->



                        </header>

                        <div class="single-content-wrap inner-content">

                            <div class="single-content clearfix">
                                <div class="vc_row wpb_row vc_row-fluid">
                                    <div class="wpb_column vc_column_container vc_col-sm-12">
                                        <div class="vc_column-inner ">
                                            <div class="wpb_wrapper">
                                                <div class="wpb_text_column wpb_content_element ">
                                                    <div class="wpb_wrapper">
                                                        <p>Class aptent taciti sociosqu ad litora torquent per <strong>conubia</strong> <strong>nostra</strong>, per inceptos himenaeos. Nullam ultricies pharetra tellus eu iaculis. Suspendisse potenti. Nunc vel urna diam.<strong><a href="http://www.example.com"> Aliquam</a></strong> id purus vel enim impersoit dependson loremipsum textas well diet accu ellus eu iaculis spendisse potenti. </p>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Post Sharing -->


                        </div>

                    </div>

                    <!-- Portfolio Project Info -->
                    <div class="project-info inner-content body-section" data-left-margin="30" data-sticky="yes" data-sticky-offset="33">

                        <!-- Portfolio Project Details -->
                        <div class="project-details-wrap">

                            <ul class="project-details">

                                <li><strong><i class="fa fa-user"></i> Client:</strong><span class="proj-details-meta">John McDoe</span></li>
                                <li class="info-categories"><strong><i class="fa fa-list"></i> Categories:</strong>
                                    <ul class="proj-details-meta">
                                        <li><a href="#" rel="tag">Gallery</a></li>
                                    </ul>
                                </li>
                                <li><strong><i class="fa fa-tasks"></i> Skills:</strong>
                                    <ul class="proj-details-meta">
                                        <li>CSS</li>
                                        <li>HTML</li>
                                        <li>jQuery</li>
                                    </ul>
                                </li>
                                <li><strong><i class="fa fa-link"></i> Project Url:</strong><span class="proj-details-meta"><a href="#" class="project-link" target="_blank">View Project</a></span></li>
                            </ul>
                            <!-- end .project-details -->

                        </div>
                        <!-- end .project-info -->


                    </div>

                </article>
                <!-- Portfolio Single Post -->

            </div>
            <!-- end .inner-content-wrap -->

            <!-- get footer.php -->

        </div>
        <!-- end #main-wrap -->

        <!-- Copyright & Socials -->
        <footer class="copy-and-soc">

            <!-- Inner Block -->
            <div>

                
                <div class="socials-wrap">
                    <a href="http://themeforest.net/item/hyperx-the-portfolio-website-designer/13439786?ref=Royal-Flush" target="_blank">
                        <i class="fa fa-facebook rf-button"></i>
                    </a>
                    <a href="http://themeforest.net/item/hyperx-the-portfolio-website-designer/13439786?ref=Royal-Flush" target="_blank">
                        <i class="fa fa-twitter rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-google rf-button"></i>
                    </a>
                    <a href="http://themeforest.net/item/hyperx-the-portfolio-website-designer/13439786?ref=Royal-Flush" target="_blank">
                        <i class="fa fa-linkedin rf-button"></i>
                    </a>
                    <a href="http://themeforest.net/item/hyperx-the-portfolio-website-designer/13439786?ref=Royal-Flush" target="_blank">
                        <i class="fa fa-pinterest rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-reddit rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-dribbble rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-vk rf-button"></i>
                    </a>
                    <a href="index.html" target="_blank" class="empty-social">
                        <i class="fa fa-skype rf-button"></i>
                    </a>
                </div>
                <!-- Copyright -->
                <div class="copyright-wrap">
                    <p>
                        Hyper-X Theme By MTH 2016 © 
                    </p>
                </div>

                <!-- Fixed Fold Button -->
                <div class="footer-fold-btn">
                    <i class="fa fa-caret-up"></i>
                </div>

                <!-- clear floats -->
                <div class="clear"></div>

            </div>
            <!-- End Inner Block -->

        </footer>

        <!-- Back to Top button -->

        <div class="back-to-top" data-duration="400" data-scroll-top="600">
            <i class="rf-button fa fa-angle-up"></i>
        </div>

    </div>
    <!-- end #page-wrap -->



    <script type='text/javascript' src='js/jquery/jquery.js'></script>
    <script type='text/javascript' src='js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='js/jquery.themepunch.revolution.min.js'></script>


    <script type="text/javascript" src="js/extensions/revolution.extension.video.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.slideanims.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.layeranimation.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.navigation.min.js"></script>
    <script type="text/javascript" src="js/extensions/revolution.extension.parallax.min.js"></script>

    <script type='text/javascript' src='js/snazzymaps.js'></script>

    <script type='text/javascript' src='js/SmoothScroll.min.js'></script>
    <script type='text/javascript' src='js/royal-plugins.min.js'></script>
    <script type='text/javascript' src='js/custom-scripts.min.js'></script>

</body>
</html>