{% extends "_layout" %}

{% block content %}

    <section id="portfolio-container" class="body-section" data-layout="fitRows" data-columns-rate="1" data-gutter-horz="17" data-gutter-vert="17">

        {% set categories = craft.categories.title('ideation') %}

        {% for category in categories  %}

            {% set subCategories = craft.categories.descendantOf(category) %}

            {% for subCat in subCategories %}
                {% if subCat.categoryCoverImage | length %}
                    <article class="post-format-gallery portfolio-post">
                        <div class="portfolio-post-inner">
                            <div class="post-media-wrap">
                                <div class="post-media-in-wrap">
                                    <div class="post-media" data-grayscale="" data-grayscale-trans="1">
                                        <a href="{{ subCat.url }}">
                                            {% for image in subCat.categoryCoverImage %}
                                                <img src="{{ image.getUrl }}" alt="{{ image.title }}" />
                                            {% endfor %}
                                        </a>
                                    </div>
                                    <div class="media-hovers media-hover-fade">
                                        <div class="media-hovers-outer">
                                            <div class="media-hovers-inner">
                                                <h3 class="post-title">
                                                    <a href="{{ subCat.url }}">{{ subCat.title }}</a>
                                                </h3>
                                                <a href="{{ subCat.url }}" class="media-hover-link"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h3 class="category-title">
                                    <a href="{{ subCat.url }}">{{ subCat.title }}</a>
                                </h3>
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}

        {% endfor %}

    </section>

{% endblock %}
