{% set title = "About" %}

{% extends "_layout" %}

{% block content %}

    {% if entry.isEditable() %}
        <p>
            <div class="admin-edit-button-wrapper">
                <a href="{{ entry.cpEditUrl }}" class="admin-edit-button">Edit About Page</a>
            </div>
        </p>
    {% endif %}

    {% for about in craft.entries.section('about') %}
    <!-- Inner Content Wrapper -->
    <div class="inner-content-wrap">

        <!-- Page Content -->
        <section class="inner-content body-section clearfix" style="padding-top: 0 !important;">

            <div class="single-content">
                <div class="vc_row wpb_row vc_row-fluid vc_custom_1452174065011" style="padding-top: 0 !important;">
                    <div class="wpb_column vc_column_container vc_col-sm-8">

                        <div class="vc_column-inner ">
                            <div class="wpb_wrapper">

                                <div class="ult-new-ib ult-ib-effect-style5 ult-ib-resp " data-min-width="768" data-max-width="900" style="" data-opacity="1" data-hover-opacity="0.8">
                                    <img class="ult-new-ib-img" style="opacity:1;" alt="David Stanley" src="images/david.jpg" />
                                </div>

                                <div id="ultimate-heading-6604573c37a868633" class="uvc-heading ultimate-heading-6604573c37a868633 uvc-8384 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                                    <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-6604573c37a868633 .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:13px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:700;color:#e5ae47;">Painter/Illustrator</div>
                                </div>

                                <div id="ultimate-heading-9940573c37a86871d" class="uvc-heading ultimate-heading-9940573c37a86871d uvc-1686 " data-hspacer="no_spacer" data-halign="left" style="text-align:left">

                                    <div class="uvc-main-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-9940573c37a86871d h3' data-responsive-json-new='{"font-size":"","line-height":""}'>
                                        <h3 style="font-family:'Montserrat';font-weight:normal;font-style:normal;color:#444444;"> David K. Stanley</h3>
                                    </div>

                                    <div class="uvc-sub-heading ult-responsive" data-ultimate-target='.uvc-heading.ultimate-heading-9940573c37a86871d .uvc-sub-heading ' data-responsive-json-new='{"font-size":"desktop:16px;","line-height":"desktop:25px;"}' style="font-family:'Dosis';font-weight:normal;color:#8d8d8d;">
                                        <div class="wpb_text_column wpb_content_element ">
                                            <div class="wpb_wrapper">
                                                <p>
                                                    David Keith Stanley is an illustrator living in North Carolina serving editorial, advertising, and institutional clients both at home and abroad.  In addition to the U.S., David's work has taken him to five different countries, drawing for esteemed clients such as GE, Coca-Cola, Disney, Gap, Mars, Baldwin Richardson, Lowes Foods, Hanes Brands, Freisland Campina, Prophet, Leo Burnett, and many others.
                                                </p>

                                                <p>
                                                    At East Carolina University, David majored in communication art with a concentration in illustration.  After a decade or so working in the industry he furthered his education with two summers at Virginia Commonwealth University's Illustration Academy.  But his most relevant and adventurous education has come through working for a quarter century on countless interesting projects for so many terrific clients.  He loves bringing ideas to life, whether it's with a purple crayon or a digital stylus.  Whether its for an innovation workshop at a Fortune 500 company or an editorial illustration for a compelling magazine story, he has found a terrific application of his gift and passion.
                                                </p>

                                                <p>
                                                    A selection of honors include national recognition with the Society of Illustrators in New York and Los Angeles, Graphic Design USA, and the International Society of Caricature Artists, as well as receiving several local awards.  David has also taught drawing in both corporate and university settings.  He loves to work with students to help them develop their skills of drawing and observation.
                                                </p>

                                                <p>
                                                    His incredible wife, Greta, and three stupendous children can attest that he consumes obscene amounts of coffee, escapes outdoors whenever possible, and can hardly be separated from his sketchbook.  As his mom has been known to say, "He's been drawing since he was able to hold a pencil".
                                                </p>

                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </section>

    </div>
    {% endfor %}

{% endblock %}
