{% set title = "Blog" %}

{% extends "_layout" %}

{% block content %}

            <!-- Blog Filters -->
            <section id="blog-container" class="body-section" data-layout="fitRows" data-columns-rate="0" data-gutter-horz="17" data-gutter-vert="32" data-aspect-width="600" data-aspect-height="400"  >

                {% paginate craft.entries.section('blog').limit(6) as pageInfo, pageEntries %}

                {% for entry in pageEntries %}
                    <article class="post-format-gallery blog-post  post-23 post type-post status-publish format-standard has-post-thumbnail hentry category-post-format-gallery tag-post-formats tag-standard" id="post-23">
                        <div class="blog-post-inner">

                            <!-- Post Media Block -->
                            <div class="post-media-wrap">
                                <div class="post-media">

                                    <!-- Post Image Overlay -->
                                    <div class="image-overlay">
                                        <a href="{{ entry.url }}">
                                            <i class="fa fa-none"></i>
                                        </a>
                                    </div>

                                    <!-- Post Thumbnail -->
                                    {% for image in entry.blogThumbnail %}
                                        <img width="600" height="400" class="attachment-royal-blog-post size-royal-blog-post wp-post-image" src="{{ image.getUrl }}" alt="{{ entry.title }}"/>
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- end .post-media-wrap -->

                            <!-- Post Text Block - Below Media -->
                            <div class="post-text-wrap">
                                <!-- Post Title -->
                                <h3 class="post-title ">
                                    <a href="{{ entry.url }}">{{ entry.title }}</a>
                                </h3>

                                <div class="time-and-author clearfix ">
                                    <span class="post-date">{{ entry.postDate | date("M d, Y") }}</span>
                                </div>
                            </div>
                            <!-- End .post-text-wrap -->

                        </div>
                        <!-- End .blog-post-inner -->
                    </article>
                {% endfor %}
            </section>

            <div class="single-post sharing-nxt-prev-b"> {# this is a hack #}
                <div class="single-content-wrap inner-content">
                    <h3 class="single-post-sharing">
                        {% if pageInfo.prevUrl %}
                            <a class="previous-post rf-button" href="{{ pageInfo.prevUrl }}" title="Audio Embed">
                                <i class="fa fa-none-left"></i>
                                <span>Previous</span>
                            </a>
                        {% endif %}

                        {% if pageInfo.nextUrl %}
                            <a class="next-post rf-button" href="{{ pageInfo.nextUrl }}" title="Quote Post">
                                <span>Next</span></i>
                            </a>
                        {% endif %}
                    </h3>
                </div>
            </div>
            <!-- End #blog-container -->

{% endblock %}
