{% extends "_layout" %}
{% set categoryNav = true %}

{% block content %}

{# {% if categoryNav is defined and categoryNav == true %}
    <!-- Porfolio Categories -->
    <section class="sid-block sidebar-top">
        <h3 class="filters-title">
            <span>Portfolio Categories</span>
        </h3>

        <ul class="filters body-section">
            {% for category in craft.categories.group('portfolio') %}
                <li>
                    <a href="{{ category.url }}" class="{% if craft.request.lastSegment == category.slug %}active-filter-item{% endif %}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </section>
{% endif %} #}

    {% set subCategories = craft.categories.descendantOf(category) %}
    {% if subCategories | length %}
        {% include 'partials/sub-category' %}
    {% else %}
        {% include 'partials/main-category' %}
    {% endif %}

{% endblock %}
