{% set title = "Clients" %}

{% extends "_layout" %}

{% block content %}

    <header class="single-header portfolio-single-header inner-content">
        <div class="title-and-meta" style="width:100%;">
            <h1 class="single-title">Clients</h1>
        </div>
    </header>

        <div class="vc_row wpb_row vc_row-fluid divider">
            {% for row in craft.entries.section('clients').order('title') | batch(10) %}
                <div class="wpb_column vc_column_container vc_col-sm-4">
                    <div class="wpb_wrapper">
                        <div class="uvc-heading" data-hspacer="no_spacer" data-halign="left" style="text-align:left">
                            <div class="uvc-sub-heading ult-responsive" data-ultimate-target=".uvc-heading .uvc-sub-heading " data-responsive-json-new="{&quot;font-size&quot;:&quot;desktop:14px;&quot;,&quot;line-height&quot;:&quot;desktop:24px;&quot;}" style="font-family:'Open sans';font-weight:normal;color:#8d8d8d;">
                                <div class="wpb_text_column wpb_content_element ">
                                    <div class="wpb_wrapper">
                                        <ul>
                                            {% for entry in row %}
                                                <li class="client">
                                                    {% if entry.clientUrl | length %}
                                                        <a href="{{ entry.clientUrl }}">{{ entry.clientName }}</a>
                                                    {% else %}
                                                        {{ entry.clientName }}
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="vc_row wpb_row vc_row-fluid">
            {% for entry in craft.entries.section('testimonials') %}
                <div class="wpb_column vc_column_container vc_col-sm-6">
                    <div class="wpb_wrapper">
                        <blockquote>
                            {{ entry.testimonialQuote }}

                            {% for block in entry.testimonialCitation.type('clientCitation') %}
                                <footer>
                                    — <cite><a href="{{ block.clientUrl }}">{{ block.clientName }}, {{ block.clientTitle }}, {{ block.clientCompany }}</a></cite>
                                </footer>
                            {% endfor %}
                        </blockquote>
                    </div>
                </div>
            {% endfor %}
        </div>

{% endblock %}
