{% set title = "Contact" %}

{% extends "_layout" %}

{% block content %}

    {# <div id="royal-gmap" class="google-map-wrap body-section" data-location="so173sq" data-title="My Base is Here" data-map-type="ROADMAP" data-zoom="16" data-scroll="" data-nav="1" data-type-control="1">

        <div class="google-map"></div>

    </div> #}

    <div class="inner-content-wrap">

        <!-- Contact & Contact info -->
        <div class="contact-form-wrap inner-content body-section" style="padding-top: 0 !important;">

            <section class="contact-form ">
                <img src="http://davidstanleyillustration.test:8888/uploads/about/David-Stanley.jpg" alt="">
            </section>

            <aside class="contact-info">

                <h3 class="contact-title"><span>Contact Info</span></h3>

                <ul>
                    <li><span>Mobile: <strong><a href="tel:{{ generalInfo.phoneNumber }}">{{ generalInfo.phoneNumber }}</a></strong></span></li>
                    <li><span>Email: <strong><a href="mailto:{{ generalInfo.email }}">{{ generalInfo.email }}</a></strong></span></li>
                </ul>
            </aside>

        </div>
        <!-- end .contact-form-wrap -->

    </div>

{% endblock %}
