{% set title = "Store" %}

{% extends "_layout" %}

{% block content %}

    {# <div id="royal-gmap" class="google-map-wrap body-section" data-location="so173sq" data-title="My Base is Here" data-map-type="ROADMAP" data-zoom="16" data-scroll="" data-nav="1" data-type-control="1">

        <div class="google-map"></div>

    </div> #}

    <div class="inner-content-wrap">

        <!-- Contact & Contact info -->
        <div class="contact-form-wrap inner-content body-section" style="padding-top: 0 !important;">

            <p class="coming-soon">My online store is coming soon.</p>

        </div>
        <!-- end .contact-form-wrap -->

    </div>

{% endblock %}
